.contenedor_login_padre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_login_hijo {
    background: white;
    width: 100%;
    margin: 0px;
}

.contenedor_label {
    justify-content: space-between;
}

.campo_entrada {
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    border: 3px solid #757575;
    padding: 4px;
    font-size: 1rem;
}

.botones {
    width: fit-content;
}

.botones2 {
    /*background: yellow;*/
    margin: -1px auto 0 auto;
    width: fit-content;
}

.linea_campo {
    justify-content: space-between;
}


.contenedor_datos_rest {
    width: 100%;
    height: 370px;
    border: 3px solid #757575;
    padding: 16px 8px 8px 8px;
    background: #f5f5f5;
    border-radius: 5px;
}

.contenedor_datos_rest2 {
    width: 100%;
    height: 370px;
    border: 3px solid #757575;
    padding: 8px;
    background: #f5f5f5;
    border-radius: 5px;
}

.contenedor_lista_botones {
    /*background: green;*/
    width: 30%;
}

.contenedor_botones_plato {
    background: #757575;
    padding: 4px;
    height: 38px;
}

.img_icon3 {
    height: 30px;
    margin: 0 8px;
}

#datos {
    padding: 8px;
}

button {
    appearance: none;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

.contenedor_lista_pedidos {
    /*background: green;*/
    width: 33%;
    height: 400px;
    border: 3px solid #757575;
    padding: 24px 8px 8px 8px;
}


.contenedor_lista_pedidos ul li {
    background: white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 4px;
    padding: 6px;
    font-size: 1rem;
}

.contenedor_lista_pedidos ul li:hover {
    background: #e5e5e5;
}

/*recibo*/
.contenedor_recibo{
    background: #fae8d1;
    width: 33%;
    height: 400px;
    border: 3px solid #fff;
}

.platosRecibo{
    /*background: yellow;*/
    padding: 0 16px 8px 16px;
    height: 230px;
    overflow-y: scroll;
}
