.contenedor_login_hijo {
    background: white;
    width: 100%;
    margin: 0px;
}

.contenedor_horizontal2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
}


.campo_entrada2 {
    height: 40px;
    width: 49%;
    margin-bottom: 16px;
    border: 3px solid #757575;
    padding: 4px;
    font-size: 1rem;
}

a {
    color: #fc8a15;
    font-weight: bold;
}

#carta {
    background: #f5f5f5;
}

#facturas {
    background: red;
}

.contenedor_datos_rest {
    width: 100%;
    height: 500px;
    border: 3px solid #757575;
    padding: 24px 8px 8px 8px;
}

.contenedor_datos_platos {
    margin-left: 8px;
    width: 70%;
    height: 380px;
    border: 3px solid #757575;
    padding: 24px 8px 8px 8px;
}

button {
    appearance: none;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

.contenedor_label {
    justify-content: space-between;
}